* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    text-align: center;
    height: 7rem;
    width: 4rem;
}

img {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flex{
    display: flex;
    color: white;
    background-color: rgb(98, 2, 238);
}

.nowrap  {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}



.ratings-summary{
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 4rem;
    width: 100vw;
}

.nobr { white-space: nowrap }

.header{
    padding: 0.5rem;
    margin: auto;
    background-color: rgb(98, 2, 238);
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
}

.hidden-overflow {
    white-space: nowrap;
    overflow: hidden;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25rem;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -100px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.word-wrap {
    overflow-wrap: anywhere;
    font-size: 1rem;
    width: 98px;
    overflow:hidden;
    flex-grow: 0;
    text-overflow: ellipsis;
    height: 7rem;
}

svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left{
    margin-left: 0;
    margin-right: auto;
}

#arrows{
    display: none;
}
#barchart{
    display: none;
}
#venn-diagram{
    display: none;
}
#other-books{
    display: none;
}
#double-barchart{
    display: none;
}
#baseline{
    display: none;
}
